* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  width: 100%;
}
#nav-bar {
  position: sticky;
  top: 0;
  z-index: 10;
}
.navbar {
  background-image: linear-gradient(to right, #2c3e50, #4ca1af);
  padding: 0 !important;
}
.navbar-brand img {
  height: 80px;
  padding-left: 20px;
}
.navbar-nav li {
  padding: 0 10px;
}
.navbar-nav li a {
  color: #fff !important;
  font-weight: 600;
  float: right;
  text-align: left;
}
.fa-bars {
  color: #fff;
  font-size: 30px !important;
}
.navbar-toggler {
  outline: none !important;
}
#Ajuda {
  border: solid 1px rgb(25, 116, 252);
  border-radius: 0px 10px 0px 0px;
  position: fixed;
  left: 36pt;
  padding: 5px;
  top: 100%;
  z-index: 100;
  margin: -2.5em;
  background-color: rgba(255, 255, 255, 0.801);
}
#Ajuda a:hover {
  text-decoration: none;
  text-transform: none;
}
.navbar-nav div {
  background-color: white;
  height: 40px;
  width: 2px;
  display: flex;
  align-items: center;
  margin: 0px;
}

/*--------Início--------*/
.container {
  margin-bottom: 100px;
}
#banner {
  background-image: linear-gradient(to right, #2c3e50, #4ca1af);
  color: #fff;
  padding-top: 5%;
}
.titulo {
  font-size: 30px;
  font-weight: 600px;
  margin-top: 100px;
}
.bottom-img {
  position: relative;
  top: 5px;
  width: 100%;
}
#banner p {
  text-align: center;
}
#banner h4 {
  text-align: center;
  margin-bottom: 30px;
}
.img-fluid {
  margin-bottom: 100px;
}
/*-------Resumo TIC-----*/

#TIC h1 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}
#TIC img {
  height: 250px;
  float: right;
  margin: 10px 25px;
}
#TIC p {
  margin: 10px;
  font-size: 18px;
  text-align: justify;
}
#TIC .container {
  margin-bottom: 80px;
}
@media (max-width: 991px) {
  #TIC .imgTIC {
    display: block;
    float: none;
    align-items: center;
    justify-content: center;
    margin-left: 125px;
  }
  .navbar-nav div {
    display: none;
  }
}
@media (max-width: 767px) {
  #TIC .imgTIC {
    margin-left: auto;
    margin-right: auto;
    height: 210px;
  }
}
@media (max-width: 400px) {
  #TIC .imgTIC {
    height: 160px;
  }
  #TIC h1 {
    font-size: 18pt;
  }
}
@media (max-width: 310px) {
  #TIC .imgTIC {
    height: 130px;
  }
}

/*---------Temas-----------*/
#Service {
  background-color: whitesmoke;
  padding: 30px 0px 30px 0px;
}
#Service h1 {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 30px;
}
#Service img {
  height: 320px;
  margin-top: 50px;
}
#Service p {
  margin: 10px;
  font-size: 19px;
  text-align: justify;
}
#Service .img01 {
  float: left;
  height: 250px;
  margin: 10px 25px;
}
#Service h4 {
  text-align: center;
  margin: 25px;
}

.container {
  margin: 10px;
}

@media (max-width: 1210px) {
  #service {
    display: block;
    justify-content: center;
    align-items: center;
  }
  #Service p {
    display: block;
  }
  #Service h4 {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 991px) {
  #Service .img01 {
    float: none;
    display: block;
    margin-left: 80px;
    margin-bottom: 25;
  }
  #Service p {
    display: block;
  }
  #banner h4 {
    margin-top: 15px;
  }
}
@media (max-width: 767px) {
  #Service .img01 {
    height: 230px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 580px) {
  #Service .img01 {
    height: 220px;
  }
}
@media (max-width: 540px) {
  #Service .img01 {
    height: 170px;
    float: none;
  }
  #footer .footer-img {
    height: 200px;
    transform: translateY(-100px);
  }
}
@media (max-width: 410px) {
  .navbar-brand img {
    height: 50px;
  }
  #Service {
    padding: 10px 0px;
  }
  #Service .img01 {
    height: 130px;
    float: none;
  }
  #Service h1 {
    font-size: 17pt;
  }
  #about-us h1 {
    font-size: 18pt;
  }
  #perfis .Perfil1 {
    height: 190px;
  }
  #perfis .Perfil2 {
    height: 190px;
  }
  #perfis .Perfil3 {
    height: 195px;
  }
  #banner h4 {
    font-size: 18pt;
  }
  #banner img {
    margin-top: 40px;
  }
}
@media (max-width: 310px) {
  #nav-bar .navbar-brand img {
    height: 60px;
  }
  #TIC h1 {
    font-size: 14pt;
  }
  #Service .img01 {
    height: 115px;
  }
  #banner h4 {
    font-size: 20px;
    margin-bottom: 30px;
  }
  #banner p {
    font-size: 15px;
  }
  #Service h1 {
    font-size: 17pt;
  }
  #Service p {
    font-size: 15px;
  }
  #about-us h1 {
    font-size: 17pt;
  }
  #about-us figure img {
    height: 150px;
  }
  #footer .footer-img {
    height: 60px;
    transform: translateY(-45px);
  }
  #footer .col-md-4 p {
    font-size: 16px;
  }
  #about-us #perfis .Perfil1 {
    height: 175px;
  }
  #about-us #perfis .Perfil2 {
    height: 175px;
  }
  #about-us #perfis .Perfil3 {
    height: 180px;
  }
}
@media (max-width: 275px) {
  #nav-bar .navbar-brand img {
    height: 40px;
  }
  #footer .col-md-4 img {
    height: 60px;
  }
}
#secao {
  align-items: center;
  justify-content: center;
  text-align: center;
}
.Secao {
  margin: 20px;
}
.Secao:hover {
  border: 0;
  border-radius: 10px;
  background-color: #08598f;
}
/*----------Sobre------------*/

#about-us {
  background: #ecf7fb;
  padding-bottom: 120px;
  padding-top: 25px;
}
#about-us p {
  font-size: 18px;
  padding-top: 90px;
  text-align: justify;
}
#about-us h4 {
  color: #418792e8;
  text-align: center;
}
#about-us .Perfil1,
.Perfil2,
.Perfil3 {
  margin: 10px 15px;
}
#about-us figure {
  display: block;
  text-align: center;
  align-items: center;
  justify-content: center;
}
#perfis {
  margin: 30px 0px;
  justify-content: center;
  display: flex;
  font: normal 13pt Arial;
}
#about-us .anime figcaption {
  width: 250px;
  text-align: center;
  align-items: center;
  margin: 10px auto;
}
@media (max-width: 800px) {
  #perfis {
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  #about-us figure {
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
  }
}
@media (max-width: 410px) {
  #perfis {
    max-width: 90%;
  }
  #perfis .Perfil1 {
    height: 150px;
    background-color: #ecf7fb;
    margin: 0px auto;
  }
  #perfis .Perfil2 {
    height: 150px;
    margin: 0px;
  }
  #perfis .Perfil3 {
    height: 155px;
    margin: 0px;
  }
  #about-us .anime figure {
    margin: 0px;
  }
  #about-us .anime figcaption {
    width: 300px;
    text-align: center;
    align-items: center;
    margin: 10px auto;
  }
}
@media (max-width: 410px) {
  #perfis {
    margin: 0px 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  #perfis .Perfil1 {
    height: 120px;
    background-color: #ecf7fb;
    margin: 0px auto;
  }
  #perfis .Perfil2 {
    height: 120px;
    margin: 0px;
  }
  #perfis .Perfil3 {
    height: 125px;
    margin: 0px;
  }
  #about-us .anime figure {
    margin: 0px;
  }
  #about-us .anime figcaption {
    width: 230px;
    text-align: center;
    align-items: center;
    margin: 10px auto;
  }
}

.botao {
  padding: 5px 10px;
  background-color: #448fda;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.555);
  border: 0;
  border-radius: 5px;
  font-weight: 650;
  color: white;
  margin-bottom: 20px;
}
.victor {
  margin-top: 4px;
}
.leonardo {
  margin-top: 4px;
}
.matheus {
  margin-top: 3.5px;
}
.lucas {
  margin-top: 5px;
}
.vitor {
  margin-top: 5px;
}
#perfis .Perfil1 {
  height: 210px;
  background-color: #ecf7fb;
}
#perfis .Perfil2 {
  height: 210px;
}
#perfis .Perfil3 {
  height: 215px;
}
#about-us .anime figure {
  max-width: 50%;
}

/*--------Footer------------*/
#footer {
  background-color: #1a1a1aff;
  color: #fff;
  padding-bottom: 1px;
}
.footer-img {
  width: 100%;
  transform: translateY(-80px);
}
.footer-logo {
  height: 80px;
  margin-bottom: 10px;
  transform: translateY(-100px);
}
#footer p {
  transform: translateY(-80px);
  padding-left: 10px;
  font-size: 20px;
}
.footer-box {
  padding: 20px;
}
.footer-box .fa {
  margin-right: 8px;
  font-size: 25px;
  height: 40px;
  width: 40px;
  text-align: center;
  padding-top: 7px;
  border-radius: 2px;
  background-image: linear-gradient(to right, #2c3e50, #4ca1af);
}
.footer-box a {
  transform: none;
  text-decoration: none;
  color: white;
}
.footer-box a:hover {
  text-decoration: none;
  color: whitesmoke;
}
.footer-box a::after {
  color: whitesmoke;
}
.form-control {
  margin-bottom: 20px;
  transform: translateY(-60px);
}
.res p {
  margin: 0px;
}
.btn {
  transform: translateY(-50px);
}
hr {
  background-color: #fff;
}

/*Animação Scroll*/

.anime {
  opacity: 0;
  transform: translate3d(-100px, 0, 0);
  transition: 0.2s;
}
.anime-start {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
